<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>POC for Next Gen IAM</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link href="css/myCss.css" rel="stylesheet"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">POC for Efx Portal</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" th:href="@{/}" style="color:black;">Home</a>
                <!--                <a class="nav-link" href="#">Features</a>-->
                <!--                <a class="nav-link" href="#">Contact</a>-->
            </nav>
        </div>
    </header>

    <main style="margin-top: -50px;">
        <h1>You have Successfully logged in. You can close this window now.</h1>
    </main>


    <footer class="mastfoot mt-auto text-center">
        <div class="inner">
            <p>POC for Next Gen IAM</p>
        </div>
    </footer>
</div>
</body>
</html>